#jc {
    justify-items: space-around;
}

* {
    margin: 0;
    padding: 0;
}

.br-5 {
    border-radius: 50%;
}

.sticky-top {
    position: sticky;
    top: 0;
}

.top-btn {
    position: fixed;
    top: 60vh;
    right: 1vw;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

#coloum {
    flex-direction: column;
}

.navbar-brand {
    font-family: monospace;
    font-weight: 800;
    font-size: 1.5rem;
}

.op {
    opacity: 0.8;
}

#foter {
    background-image: url('../img/sl3.jpg');
    background-color: #ffff;
    background-size: cover;
    color: #fff;
}

#foter p:hover {
    color: #fff;
    cursor: pointer;
}

.social-link {
    width: 100%;
    z-index: 1;
}

.icon {
    margin: 0.5vw;
    height: 6vh;
    border-radius: 50%;
}

.flex-end {
    justify-content: flex-end;
}

.navbar {
    background: linear-gradient(-45deg, #03e9f4, #ffc107, #cff4fc, #e73c7e);
    background-size: 400% 400%;
    animation: nav 4s ease infinite alternate;
}

@keyframes nav {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.list-group a {
    font-size: 1.5rem;
}

#side-img {
    width: 100%;
}

#side-img2 {
    width: 100%;
}

#icon-gallery {
    height: 4rem;
    border-radius: 50%;
}

.left a {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(38, 0, 255);
}

@media screen and (max-width:990px) {
    .bg-t {
        background: transparent;
    }
}

@media screen and (max-width:800px) {
    #jc {
        flex-direction: column;
    }
    .o-1 {
        order: 2;
    }
    .o-2 {
        order: 1;
    }
}

#half {
    width: 50%;
}

@media screen and (max-width:500px) {
    #half {
        width: 100%;
    }
}


/* animation */